{% extends 'base.html' %}

{% block title %}User{% endblock %}

{% block content %}

<h1>{{user.username}}</h1>

<p>{{user.first_name}} {{user.last_name}}</p>

<p>{{user.email}}</p>

<form action="/logout" method="POST">
  {{form.hidden_tag()}}
  <button type="submit" class="btn btn-primary">Logout</button>
</form>

<h2>Notes</h2>
<ul>
  {% for note in user.notes %}
  <li>
    <a href="/notes/{{ note.id }}">{{ note.title }}</a>
    <a href="/notes/{{ note.id }}/update"><button>Edit Note</button></a>
    <form action="/notes/{{ note.id }}/delete" method="POST">
      {{form.hidden_tag()}}
      <button>Delete Note</button>
    </form>
  </li>
  {% endfor %}
</ul>
<a href="/users/{{ user.username }}/notes/add"><button>Add Note</button></a>
<form action="/users/{{ user.username }}/delete" method="POST">
  {{form.hidden_tag()}}
  <button>Delete User</button>
</form>

{% endblock %}